body {
  width: 100%;
  height: 1830px;
  background-color: #476378;
  display: flex;
}
.resume {
  margin: 0 auto;
  width: 1080px;
  height: 1560px;
  background-color: #b5c8d3;
  align-self: center;
  border-radius: 20px;
}
